{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[70vh]">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">

        <h2 class="text-2xl font-bold mb-6 text-center text-orange-600">
            OkJek
        </h2>

        <form method="POST">
            {% csrf_token %}

            <label class="block font-medium mb-1">Username</label>
            <input type="text" name="username" required
                   class="w-full border rounded-lg px-3 py-2 mb-3">

            <label class="block font-medium mb-1">Password</label>
            <input type="password" name="password" required
                   class="w-full border rounded-lg px-3 py-2 mb-3">

            <button class="w-full bg-orange-600 hover:bg-orange-700 text-white py-2 rounded-lg font-semibold">
                Login
            </button>
        </form>

        <div class="text-center mt-4">
            <p>Daftar sebagai:</p>
            <a href="{% url 'accounts:register_customer' %}" class="text-blue-400 hover:text-orange-600">Customer</a> |
            <a href="{% url 'accounts:register_driver' %}" class="text-green-400 hover:text-orange-600">Driver</a> |
            <a href="{% url 'accounts:register_restaurant' %}" class="text-yellow-400 hover:text-orange-600" >Restoran</a>
        </div>


        {% if messages %}
            <div class="mt-4">
                {% for m in messages %}
                    <p class="text-red-600 text-sm">{{ m }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
