{% extends "base_auth.html" %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-6">
    <h2 class="text-2xl font-semibold text-center mb-6">Register</h2>

    <form method="POST" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-3">
            {{ form.as_p }}
        </div>

        <a href="{% url 'accounts:login' %}" class="text-blue-600 text-sm">« Back to Login</a>

        <button class="w-full bg-lime-600 hover:bg-lime-700 text-white py-2 rounded-lg transition duration-200">
            Register
        </button>
    </form>
</div>
{% endblock %}
