{% extends 'base.html' %}
{% block content %}

<div class="card shadow p-4">
    <h3 class="mb-3">Create Restaurant</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea name="address" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>

        <button class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}
